<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
						http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- 웹 어플리케이션은 이벤트를 통해 서블릿 컨텍스트(환경)의 상태나 HTTP 세션 객체의상태 변화를 통지해주는데 이 상태변화에 
		응답하는 서블릿 클래스가 리스너 클래스이다. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<!-- 모든 웹 어플리케이션에서 파라미터를 공유하기 위해 사용한다. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/*.xml</param-value>
	</context-param>
	<!-- <context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>dev</param-value>
	</context-param>
	<context-param>
		<param-name>spring.liveBeansView.mbeanDomain</param-name>
		<param-value>dev</param-value>
	</context-param> -->

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>